---
layout: nil
is_index: true
---


{% include header.html %}
    {% for post in paginator.posts %}
      {% include post.html %}
    {% endfor %}

 	<h3 style="text-align:center;">Page {{ paginator.page }} of {{ paginator.total_pages }}</h3>
	
	<nav id="bottom_page">
		<ul class="pager">
			{% if paginator.previous_page %}
				{% if paginator.previous_page == 1 %}
				<li><a href="{{ linkhome }}">&larr; Previous</a></li>
				{% else %}
				<li><a href="{{ site.baseurl }}/page{{ paginator.previous_page }}">&larr; Previous</a></li>
				{% endif %}
			{% else %}
				<li class="disabled"><a href="#">&larr; Previous</a></li>
			{% endif %}
			{% if paginator.next_page %}
				<li><a href="{{ site.baseurl }}/page{{ paginator.next_page }}">Next &rarr;</a></li>
			{% else % }
				<li class="disabled"><a href="#">Next &rarr;</a></li>
			{% endif %}
		</ul>
	</nav>

{% include footer.html %}
