---
layout: nil
---

{% include header.html %}

<script>

var postlist = [
{% for post in site.posts %}
  {"title":"{{post.title}}",
  "url":"{{site.url}}{{post.url}}",
  "date":"{{ post.date | date:'%Y-%m-%d' }}",
  "tags":[{% for tag in post.tags %}"{{tag}}"{% if forloop.last == false %} ,{% endif %}{% endfor %}]}
  {% if forloop.last == false %},{% endif %}{% endfor %}
]

</script>

<div class="span16 content">
<div class="post_content">
  <button class="btn btn-primary" type="button">Default button1</button>
  <button class="btn btn-default" type="button">Default button2</button>
  <button class="btn btn-primary" type="button">Default button3</button>
  <button class="btn" type="button">Default button2</button>
  <button class="btn btn-primary" type="button">Default button4</button>
  <button class="btn" type="button">Default button2</button>
  <button class="btn btn-primary" type="button">Default button5</button>
  <button class="btn" type="button">Default button2</button>
</div>
</div>

{% include footer.html %}
