---
layout: nil
---

{% include header.html %}

<script>

var postlist = [
{% for post in site.posts %}
  {"title":"{{post.title}}",
  "url":"{{site.url}}{{post.url}}",
  "date":"{{ post.date | date:'%Y-%m-%d' }}",
  "tags":[{% for tag in post.tags %}"{{tag}}"{% if forloop.last == false %} ,{% endif %}{% endfor %}]}
  {% if forloop.last == false %},{% endif %}{% endfor %}
]

</script>

<div class="page-header">
<h3 style="text-align:center;">
<span style="display: inline-block;" class="label label-default">Default</span>
<span style="display: inline-block;" class="label label-primary">Primary</span>
<span style="display: inline-block;" class="label label-success">Success</span>
<span style="display: inline-block;" class="label label-info">Info</span>
<span style="display: inline-block;" class="label label-warning">Warning</span>
<span style="display: inline-block;" class="label label-danger">Danger</span>
</h3>
</div>

{% include footer.html %}
