<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>

	<script type="text/javascript" src="{{ site.baseurl }}/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{{ site.baseurl }}/bootstrap/css/bootstrap.min.css">
	
	<link rel="stylesheet" href="{{ site.baseurl }}/pygments.css">
	<script type="text/javascript" src="{{ site.baseurl }}/MathJax/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</head>

	
<body>

	{% if site.baseurl == null %}
		{% assign linkhome = "/" %}
		{% else %}
		{% assign linkhome = site.baseurl %}
	{% endif %}

	<header>
	<h1><p style="text-align:center;"><a href="{{ linkhome }}">{{ site.name }}</a></p></h1>
	<p style="text-align:center;"><img src="{{ site.baseurl }}/myemail.png"/></p>
	<h3 style="text-align:center;"><a href="{{ linkhome }}{{ site.aboutmelink }}">About Me</a></h3>
	</header>

	<div class="container">
		<div class="row">
        		<div class="col-md-2">
        		</div>
        		<div class="col-md-8 content">
