  {% if page.is_index %}{% assign content = post.content %}{% endif %}
    
		<div class="page-header">
		<h2 class="title">
			{% if page.is_index %}<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
			{% else %}{{ post.title}}{% endif %}
			<small>{{ post.date | date:'%m/%d/%Y' }}</small>
		</h2>
		<h4>
		{% for tag in post.tags %}
			<span class="label label-success">{{ tag }}</span>
		{% endfor %}
		</h4>
		</div>
		<div class="post_content">
			{% if page.is_index %}
				{% if post.summary %}{{ post.summary }}
				{% else %}
				{{ content }}
				{% endif %}
			{% else %}
			{{ content }}
			{% endif %}
		</div>
