  {% if page.is_index %}{% assign content = post.content %}{% endif %}
    
<div class="row">
	<div class="col-md-8 content">
		<div class="page-header">
		 {% if post.title %}<h2 class="title">{% if page.is_index %}<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>{% else %}{{ post.title}}{% endif %}</h2>{% endif %}
		</div>
		<div class="post_content">
			{% if page.is_index %}
				{% if post.summary %}{{ post.summary }}
				{% else %}
				{{ content }}
				{% endif %}
			{% else %}
			{{ content }}
			{% endif %}
		</div>
    </div><!--content-->

	<div class="col-md-4 sidebar">
		<h4>
			<p class="text-info">Published on {{ post.date | date:'%d %B %Y' }}</p>
			<br/>
			<p class="text-muted">
			Tags:
			</p>
			&nbsp;
			<p class="text-primary">
			{% for tag in post.tags %}
			{{ tag }}
			&nbsp;
			{% endfor %}
			</p>
		</h4>
	</div>
</div>

